    :root {
      --primary: #0b6e4f;
      --secondary: #0b9b66;
      --background: #f3f7f6;
      --card: #ffffff;
      font-family: 'Poppins', sans-serif;
    }
    {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      background-image:dealers.jpg no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .login-container {
      background: var(--card);
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 6px 20px rgba(8, 15, 20, 0.1);
      width: 100%;
      max-width: 400px;
      text-align: center;
    }
    h2 {
      margin-bottom: 20px;
      color: var(--primary);
    }
    label {
      display: block;
      text-align: left;
      margin-top: 15px;
      color: #333;
      font-weight: 600;
    }
    input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
    }
    button {
      width: 100%;
      margin-top: 20px;
      padding: 12px;
      background: var(--primary);
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      transition: 0.3s;
    }
    button:hover {
      background: var(--secondary);
    }
    .links {
      margin-top: 15px;
      font-size: 14px;
    }
    .links a {
      color: var(--primary);
      text-decoration: none;
    }
    .links a:hover {
      text-decoration: underline;
    }
   .footer {
    margin-top: 0;
     left: 0;
     font-size: 15px;
     font-weight: bold;
     
   }